.list-title h3{
    font-size: 18px;
    color: #fff;
    background: #3da5e4;
}
.handle-list a{ font-size: 14px;}
.handle-list li:nth-last-child(1){
    border-bottom: 1px solid #f0f0f0;
}
.handle-list li{
    border-left: 1px solid #f0f0f0;
}
:host ::ng-deep .ant-menu-submenu-title{
    font-size: 16px!important;
    background: #eaeaea;
}
.handle-list-xs{
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
:host ::ng-deep .ant-menu-submenu-horizontal > .ant-menu{
    margin-top: 3px;
}
@media (max-width: 576px) {
    :host ::ng-deep .ant-menu-submenu-title{
        font-size: 14px!important;
        background: #fff;
        padding: 0;
    }
    :host ::ng-deep .ant-affix{
        width: 100%;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    :host ::ng-deep .ant-menu-submenu-title{
        font-size: 14px!important;
        background: #fff;
    }
    :host ::ng-deep .ant-affix{
        width: 100%;
    }
}