<div nz-row class="title-border">
  <div nz-col [nzSpan]="20" class="title">
    <h4>创业孵化基地</h4>
  </div>
  <div nz-col [nzSpan]="4" class="tx-right">
    <a class="more">更多&gt;&gt;</a>
  </div>
</div>
<div nz-row [nzGutter]="20" class="program">
  <div nz-col [nzXs]="{span: 24}" [nzSm]="{span:12}" [nzMd]="{span:12}" [nzLg]="{span:12}" [nzXl]="{span:12}">
    <div class="gutter-box">
      <div class="gut-1">
        <img src="/assets/lib/images/test2.jpg">
      </div>
      <div class="gut-2 tx-center">天府新区创业基地</div>
    </div>
  </div>
  <div nz-col [nzXs]="{span: 24}" [nzSm]="{span:12}" [nzMd]="{span:12}" [nzLg]="{span:12}" [nzXl]="{span:12}">
    <div class="gutter-box">
      <div class="gut-1">
        <img src="/assets/lib/images/test2.jpg">
      </div>
      <div class="gut-2 tx-center">天府新区创业基地</div>
    </div>
  </div>
</div>