<div nz-row [nzType]="'flex'" class="news-box">
  <div nz-col [nzXs]="{span: 24, order: 2}" [nzSm]="{span:16, order:1}" [nzMd]="{span:16, order:1}" [nzLg]="{span:16, order:1}" [nzXl]="{span:16, order:1}">
    <div nz-row class="title-border">
      <div nz-col [nzSpan]="20" class="title">
        <h4>新闻资讯</h4>
      </div>
      <div nz-col [nzSpan]="4" class="tx-right">
        <a class="more">更多&gt;&gt;</a>
      </div>
    </div>
    <div nz-row class="news">
      <div nz-col [nzSpan]="24">
        <div nz-row>
          <div nz-col [nzSpan]="20" class="ellipsis ">
            <a href="javascript:;">[创业项目]</a>
            <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
          </div>
          <div nz-col [nzSpan]="4" class="date tx-center">
            2018.8.8
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="24">
        <div nz-row>
          <div nz-col [nzSpan]="20" class="ellipsis ">
            <a href="javascript:;">[创业项目]</a>
            <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
          </div>
          <div nz-col [nzSpan]="4" class="date tx-center">
            2018.8.8
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="24">
        <div nz-row>
          <div nz-col [nzSpan]="20" class="ellipsis ">
            <a href="javascript:;">[创业项目]</a>
            <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
          </div>
          <div nz-col [nzSpan]="4" class="date tx-center">
            2018.8.8
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="24">
        <div nz-row>
          <div nz-col [nzSpan]="20" class="ellipsis ">
            <a href="javascript:;">[创业项目]</a>
            <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
          </div>
          <div nz-col [nzSpan]="4" class="date tx-center">
            2018.8.8
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="24">
        <div nz-row>
          <div nz-col [nzSpan]="20" class="ellipsis ">
            <a href="javascript:;">[创业项目]</a>
            <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
          </div>
          <div nz-col [nzSpan]="4" class="date tx-center">
            2018.8.8
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="24">
        <div nz-row>
          <div nz-col [nzSpan]="20" class="ellipsis ">
            <a href="javascript:;">[创业项目]</a>
            <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
          </div>
          <div nz-col [nzSpan]="4" class="date tx-center">
            2018.8.8
          </div>
        </div>
      </div>
      <div nz-col [nzSpan]="24">
        <div nz-row>
          <div nz-col [nzSpan]="20" class="ellipsis ">
            <a href="javascript:;">[创业项目22]</a>
            <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
          </div>
          <div nz-col [nzSpan]="4" class="date tx-center">
            2018.8.8
          </div>
        </div>
      </div>
    </div>
  </div>
  <div nz-col [nzXs]="{span: 24, order: 1}" [nzSm]="{span:7, order: 2, offset: 1}" [nzMd]="{span:7, order: 2, offset: 1}" [nzLg]="{span:7, order: 2, offset: 1}" [nzXl]="{span:7, order: 2, offset: 1}">
    <div nz-col class="title title-border">
      <h4>热门资讯</h4>
    </div>
    <div nz-row class="news">
      <div nz-col [nzSpan]="24" class="ellipsis ">
        <i class="anticon anticon-caret-right"></i>
        <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
      </div>
      <div nz-col [nzSpan]="24" class="ellipsis ">
        <i class="anticon anticon-caret-right"></i>
        <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
      </div>
      <div nz-col [nzSpan]="24" class="ellipsis ">
        <i class="anticon anticon-caret-right"></i>
        <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
      </div>
      <div nz-col [nzSpan]="24" class="ellipsis ">
        <i class="anticon anticon-caret-right"></i>
        <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
      </div>
      <div nz-col [nzSpan]="24" class="ellipsis ">
        <i class="anticon anticon-caret-right"></i>
        <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
      </div>
      <div nz-col [nzSpan]="24" class="ellipsis ">
        <i class="anticon anticon-caret-right"></i>
        <a href="javascript:;" class="news-title">共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式共建新型科教创产融合发展联合体暨中国科学院大学成都学院签约仪式成都学院签约仪式</a>
      </div>
    </div>
  </div>
</div>