<div class="viewed-box" *ngIf="infoList.length != 0">
  <div nz-row class="title list hidden-xs">
    <div nz-col [nzSpan]="8">单位名称</div>
    <div nz-col [nzSpan]="8">简历名称</div>
    <div nz-col [nzSpan]="8">查看时间</div>
  </div>
  <div nz-row class="content list" *ngFor="let info of infoList">
    <div nz-col [nzXs]="{span:24}" [nzSm]="{span:8}" [nzMd]="{span:8}" [nzLg]="{span:8}" [nzXl]="{span:8}">
      <a [routerLink]="['/zhaopin/company', info.user.company.id]" target="_blank">{{info.user.company.name}}</a>
    </div>
    <div class="info-xs cl" nz-col [nzXs]="{span:24}" [nzSm]="{span:8}" [nzMd]="{span:8}" [nzLg]="{span:8}" [nzXl]="{span:8}">
      <a [routerLink]="['/resume', info.resume_id]" target="_blank">{{info.resume.name}}</a>
      <span class="hidden-sm hidden-md hidden-lg hidden-xl">{{info.created_at}}</span>
    </div>
    <div nz-col [nzSpan]="8" class="hidden-xs">{{info.created_at}}</div>
  </div>
</div>
<div class="noData" *ngIf="isInfos">
  暂时没有被查看！
</div>