<nz-datepicker style="width: 46%;" 
    (ngModelChange)="_startDate=$event;_startValueChange()"
    [ngModel]="_startDate" 
    [nzDisabledDate]="_disabledStartDate" 
    [nzShowTime]="true" 
    [nzFormat]="'YYYY-MM-DD'" 
    [nzPlaceHolder]="'起始时间'"></nz-datepicker> - 
<nz-datepicker style="width: 46%;" 
    (ngModelChange)="_endDate=$event;_endValueChange()"
    [ngModel]="_endDate" 
    [nzDisabledDate]="_disabledEndDate" 
    [nzShowTime]="true" 
    [nzFormat]="'YYYY-MM-DD'"
    [nzPlaceHolder]="'结束时间'"></nz-datepicker>