<div nz-row class="detail">
    <div nz-col [nzSpan]="24">
        <div nz-row class="introduce">
            <div nz-col [nzSpan]="24">
                <img src="/assets/lib/images/test2.jpg">
            </div>
            <div nz-col [nzSpan]="24">
                <p>成都高新技术创业服务中心</p>
            </div>
        </div>
    </div>

    <div nz-col [nzSpan]="24" class="tit">
        <span>联系方式</span>
    </div>

    <div nz-row class="content">
        <div nz-col [nzSpan]="24" class="information">
            <span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
            <span>天府新区湖畔路西段99号天府菁蓉中心D区</span>
        </div>
        <div nz-col [nzSpan]="24" class="information">
            <span>联&nbsp;系 &nbsp;人：</span>
            <span>王伟</span>
        </div>
        <div nz-col [nzSpan]="24" class="information">
            <span>联系电话：</span>
            <span>13088018865</span>
        </div>
        <div nz-col [nzSpan]="24" class="information">
            <span>电子邮件：</span>
            <span>285276792@qq.com</span>
        </div>
    </div>

    <div nz-col [nzSpan]="24" class="tit">
        <span>基地简介</span>
    </div>

    <div nz-col [nzSpan]="24" class="describe">
        <p>1、基础服务：提供办公场地和办公设施；帮助创业者申办工商执照、税务登记等企业成立手续。
            <br> 2、增值服务：开展创业导师辅导服务；为全市孵化器及孵化企业提供政策咨询服务；运用成都市科技金融平台等对企业进行融资服务；推介企业与港澳台等地企业、投资机构合作；帮助企业间进行合股合作，开展产权融资交易；为企业提供政策、人才、金融、管理、技术、税收、知识产权等培训；指导企业申报各类科技计划项目；开展知识产权（专利）申报、维权、应用、开发等服务。
            <br> 3、公共服务平台：运用成都市大型仪器（设备）共享平台等对科技企业提供公共技术平台服务支持。
            <br> 1、对所有经审核入驻的企业提供廉价房租，免收物业管理费。
            <br> 2、免费提供会议室。
            <br> 3、入驻企业可享受高新区大孵化专项资金支持，通过评审给予科技初创企业启动资金5-20万元和10万元以内的房租补贴，给予高层次人才创业企业启动资金10-100万元和10万元以内房租补贴。
            <br> 4、免费提供政策咨询、创业培训、创业辅导等服务。
            <br> 5、免费向国内外政府、机构、产业园区推介在孵企业。
        </p>
    </div>
</div>