<div nz-row class="resume">
  <div nz-col [nzSpan]="24" class="list" *ngIf="resumesArray.length != 0">
    <div nz-row *ngFor="let resume of resumesArray; let i = index">
      <div nz-col [nzXs]="{span: 2}" [nzSm]="{span:1}" [nzMd]="{span:1}" [nzLg]="{span:1}" [nzXl]="{span:1}" class="resume-type"
        [class.defaultResume]="resume.default">
        <span *ngIf="resume.default">默认简历</span>
        <span *ngIf="!resume.default">备用简历</span>
      </div>
      <div nz-col [nzXs]="{span:18}" [nzSm]="{span:12}" [nzMd]="{span:12}" [nzLg]="{span:12}" [nzXl]="{span:12}" class="resume-introduce">
        <p class="resume-name">
          <a [routerLink]="['/resume', resume.resume_id]" target="_blank">{{resume.name}}</a>
          <a class="oper-xs fr hidden-sm hidden-md hidden-lg hidden-xl" href="/api/person/resume/download?resume_id={{resume.resume_id}}"
            target="_blank">下载</a>
          <a class="oper-xs fr hidden-sm hidden-md hidden-lg hidden-xl" (click)="setDefaultResume(resume.resume_id, i)" href="javascript:;"
            *ngIf="!resume.default">设为默认</a>
        </p>
        <div class="resume-progress">
          <div class="progress-box">
            <span>浏览： {{resume.view_count}}次
            </span>
            <a class="oper-xs fr hidden-sm hidden-md hidden-lg hidden-xl" href="javascript:;" (click)="updateResumeInfos(resume.resume_id, i)">刷新</a>
            <a class="oper-xs fr hidden-sm hidden-md hidden-lg hidden-xl" [routerLink]="['/resume', resume.resume_id]" target="_blank">预览</a>
        </div>
        </div>
        <div class="resume-detail">
          <span>时间：{{resume.updated_at}}</span>
        </div>
      </div>
      <div nz-col [nzSpan]="3" class="download hidden-xs">
        <a (click)="setDefaultResume(resume.resume_id, i)" href="javascript:;" *ngIf="!resume.default" style="font-size: 12px;">设为默认简历</a>
        <a href="/api/person/resume/download?resume_id={{resume.resume_id}}" target="_blank" style="font-size: 12px;">下载</a>
      </div>
      <div nz-col [nzXs]="{span:4}" [nzSm]="{span:8}" [nzMd]="{span:8}" [nzLg]="{span:8}" [nzXl]="{span:8}" class="resume-oper">
        <a class="hidden-xs" [routerLink]="['/resume', resume.resume_id]" target="_blank">预览</a>
        <a [routerLink]="['/userAdmin/resume/edit', resume.resume_id]">修改</a>
        <a class="hidden-xs" href="javascript:;" (click)="updateResumeInfos(resume.resume_id, i)">刷新</a>
        <a href="javascript:;">
          <nz-popconfirm [nzTitle]="'确定要删除这个简历吗?'" (nzOnConfirm)="confirm(resume.resume_id, i)" (nzOnCancel)="cancel()">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </a>
      </div>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col [nzSpan]="24" *ngIf="isResumes" class="noData">暂无简历！</div>
  <div nz-col [nzSpan]="24" *ngIf="resumesArray.length != 0" class="prompt">
    <h5>
      <i class="anticon anticon-exclamation-circle red"></i> &nbsp;&nbsp;温馨提示：</h5>
    <p>1、完善简历信息，让你有更多的机会找到好的工作！ </p>
    <p>2、上传个人作品：上传个人作品让单位直观了解你的你能力 </p>
  </div>
</div>