<nz-layout>
    <nz-header>
        <app-top></app-top>
    </nz-header>
    <nz-content class="content">
        <div class="row">
            <div nz-row>
                <div nz-col [nzXs]="{span:24}" [nzSm]="{span:24}" [nzMd]="{span:5}" [nzLg]="{span:5}" [nzXl]="{span:5}">
                    <app-admin-sider [type]="'company'"></app-admin-sider>
                </div>
                <div nz-col [nzXs]="{span:24}" [nzSm]="{span:24}" [nzMd]="{span:18, offset:1}" [nzLg]="{span:18, offset:1}" [nzXl]="{span:18, offset:1}" class="company-view">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </nz-content>
    <nz-footer style="text-align: center;">
        <app-footer></app-footer>
    </nz-footer>
</nz-layout>