<div nz-row class="header hidden-xs hidden-sm hidden-md">
  <div nz-col [nzSpan]="24">
    <header>
      <a [routerLink]="['/index']">
        <img src="./assets/lib/images/logoin_logo2.png" alt="网站logo">
      </a>
    </header>
  </div>
</div>
<div class="content" nz-row>
  <div class="reg-form" nz-col [nzXl]="{span:4, offset: 10}" [nzLg]='{span:6, offset:9}' [nzMd]="{span:8, offset: 8}" [nzSm]="{span:12, offset:6}"
    [nzXs]="{span:24}">
    <div class="user-reg">
      <h4>找回密码</h4>
    </div>
    <form nz-form [formGroup]="changePwdForm" (ngSubmit)="_submitForm()" style="padding-top:20px">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="phone" nz-form-item-required>手机号</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('phone')">
          <nz-input [nzSize]="'large'" formControlName="phone" [nzId]="'phone'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').hasError('required')">请输入您的手机号码</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="code" nz-form-item-required>验证码</label>
        </div>
        <div class="cl" nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('code')">
          <nz-input [nzSize]="'large'" formControlName="code" [nzId]="'code'" style="width: 50%;float:left;"></nz-input>
          <button class="btn1 checkNumber fl" type="button" nz-button [nzType]="'primary'" (click)="sendCheckNumber($event)" [nzSize]="'large'" [disabled]="isSending">
            <span *ngIf="!isSending">发送验证码</span>
            <span *ngIf="isSending">{{_index}}s后重新发送</span>
          </button>
          <div nz-form-explain *ngIf="getFormControl('code').dirty&&getFormControl('code').hasError('required')">请输入手机短信验证码</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="new_password" nz-form-item-required>重置密码</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('new_password')">
          <nz-input [nzSize]="'large'" formControlName="new_password" [nzType]="'password'" [nzId]="'new_password'" (ngModelChange)="updateConfirmValidator()"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('new_password').dirty&&getFormControl('new_password').hasError('required')">请输入您的密码</div>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
          <label for="new_password_confirmation" nz-form-item-required>确认密码</label>
        </div>
        <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="getFormControl('new_password_confirmation')">
          <nz-input [nzSize]="'large'" formControlName="new_password_confirmation" [nzType]="'password'" [nzId]="'new_password_confirmation'"></nz-input>
          <div nz-form-explain *ngIf="getFormControl('new_password_confirmation').dirty&&getFormControl('new_password_confirmation').hasError('required')">请输入确认密码</div>
          <div nz-form-explain *ngIf="getFormControl('new_password_confirmation').dirty&&getFormControl('new_password_confirmation').hasError('confirm')">您两次的输入密码不一致</div>
        </div>
      </div>
      <div nz-form-item nz-row style="margin-bottom:8px;">
        <div nz-form-control nz-col [nzSm]="{span:17, offset: 3}" [nzXs]="{span:24}">
          <button nz-button [nzSize]="'large'" [nzType]="'primary'" class="btn2">确认修改密码</button>
        </div>
        <div nz-form-control nz-col [nzSm]="{span:17, offset: 3}" [nzXs]="{span:24}">
          <p class="loginTo">
            <a [routerLink]="['/index']">返回网站首页</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>