<div nz-row>
  <div nz-col [nzSpan]="4">
    <button nz-button [nzType]="'primary'" (click)="showModalForEdit()">
      <span>添加回访记录</span>
    </button>
  </div>
</div>
<nz-table #nzTable *ngIf="_dataSet.length != 0"
      [nzAjaxData]="_dataSet"
      [nzTotal]="_data.total"
      [nzLoading]="_loading"
      [(nzPageIndex)]="_data.current_page"
      [(nzPageSize)]="_data.per_page"
      (nzPageIndexChangeClick)="pageChangeClick($event)">
  <thead nz-thead>
    <tr>
      <th nz-th>
        <span>编号</span>
      </th>
      <th nz-th>
        <span>姓名</span>
      </th>
      <th nz-th>
        <span>身份证号码</span>
      </th>
      <th nz-th>
        <span>联系电话</span>
      </th>
      <th nz-th>
        <span>就业情况</span>
      </th>
      <th nz-th>
        <span>单位名称</span>
      </th>
      <th nz-th>
        <span>岗位名称</span>
      </th>
      <th nz-th>
        <span>就业跟踪回访记录</span>
      </th>
      <th nz-th>
        <span>操作</span>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of nzTable.data;let i = index">
      <td nz-td>{{i+1}}</td>
      <td nz-td>
        <a href="javascript:;">{{user_name}}</a>
      </td>
      <td nz-td>{{user_idcard}}</td>
      <td nz-td>{{user_phone}}</td>
      <td nz-td>{{data.is_work == '0' ? '未就业' : '已就业'}}</td>
      <td nz-td>{{data.work_company}}</td>
      <td nz-td>{{data.job_name}}</td>
      <td nz-td>{{data.note}}</td>
      <td nz-td>
        <div nz-row>
          <div nz-col [nzSpan]="24" class="tx-center oper">
            <nz-popconfirm [nzTitle]="'确定要删除这个任务吗？'" (nzOnConfirm)="deletedData(i, data.id)" (nzOnCancel)="cancelDeleted()">
              <a nz-popconfirm>删除</a>
            </nz-popconfirm>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>