<div class="clearfix">
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="proposer" id="proposer" class="file-input" (change)="uploadFileChange('proposer')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:申报表</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="ask" id="ask" class="file-input" (change)="uploadFileChange('ask')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:请示</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="plan" id="plan" class="file-input" (change)="uploadFileChange('plan')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:方案</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="budget" id="budget" class="file-input" (change)="uploadFileChange('budget')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:预算</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="licence" id="licence" class="file-input" (change)="uploadFileChange('licence')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:许可证</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="money_proposer" id="money_proposer" class="file-input" (change)="uploadFileChange('money_proposer')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:经费申报表</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="check" id="check" class="file-input" (change)="uploadFileChange('check')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:验收表</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="money_list" id="money_list" class="file-input" (change)="uploadFileChange('money_list')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:经费清单</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="bulletin" id="bulletin" class="file-input" (change)="uploadFileChange('bulletin')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:简报</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="sign_list" id="sign_list" class="file-input" (change)="uploadFileChange('sign_list')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:签到清单</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="roster" id="roster" class="file-input" (change)="uploadFileChange('roster')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:花名册</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="visit" id="visit" class="file-input" (change)="uploadFileChange('visit')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:回访记录</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="invoice" id="invoice" class="file-input" (change)="uploadFileChange('invoice')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:发票</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="18" class="upload-box">
      <input type="file" name="job_list" id="job_list" class="file-input" (change)="uploadFileChange('job_list')">
      <button nz-button class="file-btn">
        <i class="anticon anticon-upload"></i><span>上传:求职登记表</span>
      </button>
      <p class="file-show">
        <i class="anticon anticon-paper-clip"></i>
        <span class="file-name"></span>
      </p>
    </div>
  </div>
</div>
<div class="footer">
    <button nz-button class="fr" [nzType]="'primary'" [nzSize]="'large'" (click)="handleCancel($event)">
      关闭
    </button>
</div>