<div nz-row class="detail">
    <div nz-col [nzSpan]="24">
        <div nz-row class="introduce">
            <div nz-col [nzSpan]="24">
                <img src="/assets/lib/images/test2.jpg">
            </div>
            <div nz-col [nzSpan]="24">
                <p>超级大项目</p>
            </div>
        </div>
    </div>

    <div nz-col [nzSpan]="24">

        <div nz-row class="content">

                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>项目简介：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    利用自主技术与庞大社群，又好又快解决B端客户食品需求，让不同预算、不同要求的客户都能在其理想档位中获得超值视频服务。利用自主技术与庞大社群，又好又快解决B端客户食品需求，让不同预算、不同要求的客户都能在其理想档位中获得超值视频服务。
                </div>
                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>所属行业：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    电子信息（硬件）
                </div>
                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>所属产业：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    第三产业
                </div>
                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>经营模式：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    自产自销
                </div>
                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>经营形态：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    股份有限公司
                </div>    
                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>技术需求：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    不同要求的客户都能在其理想档位中获得超值视
                </div>         
                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>创业规模：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    80人
                </div>    
                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>联&nbsp;系 &nbsp;人：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    王老师
                </div>       
                <div nz-col [nzXs]="{span: 6}" [nzSm]="{span:3}" [nzMd]="{span:2}" [nzLg]="{span:2}" [nzXl]="{span:2}">
                    <span>联系电话：</span>
                </div>
                <div nz-col [nzXs]="{span: 18}" [nzSm]="{span:21}" [nzMd]="{span:22}" [nzLg]="{span:22}" [nzXl]="{span:22}">
                    13088018865
                </div>
        </div>
    </div>

    <div nz-col [nzSpan]="24" class="inquire">
        <button class="button">
            <span>一键咨询</span>
        </button>
    </div>

    <div nz-col [nzSpan]="24" class="tit">
        <span>市场前景</span>
    </div>

    <div nz-col [nzSpan]="24" class="describe">
        <p>优势：
            <br> 1、阿里巴巴、京东的视频购物项目供应商
            <br> 2、作为微软战略合作方，开发WIN10平台首个中国视频编辑工具
            <br> 3、北大STEM+教育体系15家联合发起单位之一
            <br> 4、百度秒懂百科一圈次PGC合作方
            <br> 5、拥有中国最大的手绘视频达人社群
            <br> 6、手绘视频应用领域广，市场需求量大
            <br> 7、产品研发周期长，技术壁垒高，有专利保护，不易被复制规划：
            <br> 1、技术：优化绘画操作体验，结合AI技术
            <br> 2、社群：夯实社群维系模式（分享平台、撮合平台、线上下活动、综艺打造）
            <br> 3、市场：增加STEAM教育（已实现试点并拿到教育部背书，下面正式推行）；重量级文创轻量级营销

        </p>

    </div>

    <div nz-col [nzSpan]="24" class="tit">
        <span>创业计划书（可行性分析报告）</span>
    </div>

    <div nz-col [nzSpan]="24" class="describe">
        <p>优势：
            <br> 1、阿里巴巴、京东的视频购物项目供应商
            <br> 2、作为微软战略合作方，开发WIN10平台首个中国视频编辑工具
            <br> 3、北大STEM+教育体系15家联合发起单位之一
            <br> 4、百度秒懂百科一圈次PGC合作方
            <br> 5、拥有中国最大的手绘视频达人社群
            <br> 6、手绘视频应用领域广，市场需求量大
            <br> 7、产品研发周期长，技术壁垒高，有专利保护，不易被复制规划：
            <br> 1、技术：优化绘画操作体验，结合AI技术
            <br> 2、社群：夯实社群维系模式（分享平台、撮合平台、线上下活动、综艺打造）
            <br> 3、市场：增加STEAM教育（已实现试点并拿到教育部背书，下面正式推行）；重量级文创轻量级营销
        </p>

    </div>


</div>